@page "/about"

<PageTitle>@Translate["About"] | Kerry Shale Fan Page</PageTitle>

<h1>@Translate["About"].</h1>

<RadzenCard class="rz-my-5 rz-mx-auto" Style="background: rgba(255, 255, 255, 0.5);">
    <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Normal" class="rz-p-4">
        <RadzenColumn Size="12">
            <RadzenText TextStyle="TextStyle.Body2" class="rz-mt-0 rz-my-0">
                @Translate["Hi, I am Jana (English pronounciation: Yana, the name is often used in Poland and Germany), I am"] @(GetCurrentAge())
                @Translate["years old, a native German and a senior software developer."]
                @Translate["I had worked in the IT department for a German TV production company named Grundy UFA for 10 years (1998-2008)."]
                @Translate["After that I had studied IT and finished my Master of Science in Applied Information Technology (2008-2014) successfully."]
                @Translate["Since that I have been developing software for several companies which had (fortunately) nothing to do with TV, especially in the financial sector and for Bundesdruckerei."]
                @Translate["I have met several actors and one actress in person, most of them are/were kind."]
                @Translate["I am an asexual (like Granada's and Frogwares' Sherlock Holmes), I am married to my computer and nobody else."]
                @Translate["I speak the German and English language."]
                @Translate["This fan page is some long-term experiment, I will operate as long as Kerry Shale or his agency does not complain to me about it."]
                @Translate["If you have any requests or questions, please simply contact me by using the Contact form."]
                @Translate["If further conversation via direct message should be necessary, I will make it possible."]
                @Translate["I write all English texts by myself."]
                @Translate["Because I have thaught English myself in the main, my English may appear a bit messed up, I will rather stick to the American English."]
                @Translate["Please do not hesitate to contact me if you find any grammar or spelling mistakes, I will correct them as soon as possible."]
                @Translate["I will proofread my own texts from time to time."]
                @Translate["I am the child of narcissistic parents which has traumatized me a lot."]
                @Translate["I became a (financial) victim of another narcissist."]
                @Translate["I often fall in a deep depression."]
                @Translate["It is difficult for me to trust any person, I prefer to take care of everything by myself."]
                @Translate["I love to chat with people who I really like a lot."]
                @Translate["Sometimes it can be necessary to give me a slight hint when I 'spam' people with messages, when I am too euphoric, I will stop with it then."]
                @Translate["Only exception: You are a Nazi/racist/internet troll."]
            </RadzenText>
            <RadzenText TextStyle="TextStyle.Body2" class="rz-mt-4 rz-my-0">
                @Translate["Some funny stories when I had worked for the film business:"]
            </RadzenText>
            <RadzenText TextStyle="TextStyle.Body2" class="rz-mt-0 rz-my-0">
                - @Translate["One day I should install a computer in one building of the Babelsberg studios and had to walk to the server room."]
                @Translate["While walking to the server room, someone from the custome department called me back."]
                @Translate["I was wondering about it, but I was that kind and walked back to her."]
                @Translate["Then she asked me if I do not want to change my clothes."]
                @Translate["I asked her what is wrong with my current clothes."]
                @Translate["We found out then that she had confused me with an actress or extra for the series, we had to laugh then and I continued my walk to the server room."]
            </RadzenText>
            <RadzenText TextStyle="TextStyle.Body2" class="rz-mt-0 rz-my-0">
                - @Translate["At another day, I had again installed a computer in the same building of the Babelsberg studios, and when I left the building, two teenagers (maybe 11 or 12 years old) were waiting in front of the building."]
                @Translate["They stared at me and so I looked back at them."]
                @Translate["Then they asked me if I would be a star and if I can give them an autograph."]
                @Translate["It was the sweetest situation I have witnessed in my life so far."]
                @Translate["I told them that I cannot give them an autograph and that I would only sign the papers of the parcel service (if they bring us new computers)."]
                @Translate["I then explained them that I am not a star and that they will have to continue to wait."]
                @Translate["Unfortunately, I could not let them in the bulding, but it was really sweet."]
                @Translate["It was the first time someone thought I would be a star, it was also the last time that someone ever thought I would be a star."]
            </RadzenText>
            <RadzenText TextStyle="TextStyle.Body2" class="rz-mt-0 rz-my-0">
                - @Translate["And now the best part: When everyone was on company holiday, I should move some computers."]
                @Translate["While doing that, I forgot to disconnect the power cable of one monitor."]
                @Translate["The power cable was still connected to the monitor and the power socket."]
                @Translate["And now it starts: I tried to carry the monitor away, but the connection to the power socket was that strong that I stopped unvoluntarily and tilted forward."]
                @Translate["I was supposed to fall, but the monitor connected to the power socket kept me from falling."]
                @Translate["I stood in a ca. 30 degrees angle and did not know if I was allowed to move a bit."]
                @Translate["I was not holding the monitor anymore, the monitor was holding me now."]
                @Translate["I stood there like that for several minutes and waited for help."]
                @Translate["But since the everyone was on company holiday, I was alone."]
                @Translate["I decided then to move one foot forwards slowly."]
                @Translate["But that was too much for the power cable then."]
                @Translate["The power cable disconnected itself from the power socket and I fell with the monitor."]
                @Translate["The monitor was damaged a bit, it was used in our helpdesk room later."]
                @Translate["I can only imagine how that must have looked."]
            </RadzenText>
            <RadzenText TextStyle="TextStyle.Body2" class="rz-mt-4 rz-my-0">
                @Translate["I am a big Brent Spiner, Kerry Shale, Hogan's Heroes, Granada Holmes, Frogwares' Sherlock Holmes, ERA and Enya fan."]
                @Translate["I am a fan of Hogan's Heros since"] @(GetCurrentAge() - 21)
                @Translate["years meanwhile, since I was 21 years old."]
                @Translate["The actor Robert Clary from Hogan's Heroes caused me to have a deeper look into Jewish habits."]
                @Translate["I saw a video series of him once which showed where he had visited the former concentration camp where he was imprisoned once."]
                @Translate["He started to cry when he was standing in one of the Holocaust trains again which was still parked there, it broke my heart."]
                @Translate["Too sad that the video series is not available on YouTube anymore, it had such an important message for the world."]
                @Translate["During my study we had a class called ''intercultural communication'' where I had visited an Evangelic Church, a Synagogue and a Mosque."]
                @Translate["All of them were interesting and I also liked it when the Evangelic Church made jokes about the Catholic Church which my Catholic classmates did not find that funny."]
                @Translate["I even saw a Holy Torah directly in front of me."]
                @Translate["We were not allowed to touch the Holy Torah, we had to use a silver stick which had a small hand with a pointing finger at its tip."]
                @Translate["After that I had joined 3 Jewish prayers in the Chabad Synagogue in Berlin, you need to turn around during the prayer."]
                @Translate["I had worked for the Centrum Judaicum / New Synagogue in Berlin for some months voluntarily and helped to restore the data of victims of the Holocaust."]
                @Translate["I have to admit that I had even played with the thought to become a member of the Jewish community, but I stopped with the idea when I learnt that it would not be that easy as joining the Evangelic Church where you can simply buy your membership."]
                @Translate["Later I came away from that idea when I witnessed some Facebook wars between religious groups."]
                @Translate["Since that I am happy that I am an atheist, a very proud atheist, but I still feel close to the Jewish community - it seems to be the one with the most sane people if you ask me, followed by people who are part of the Evangelic Church community."]
                @Translate["I learnt much later that Brent Spiner and Kerry Shale also have Jewish roots."]
                @Translate["I only noticed it when they started to talk about it, when I was already a fan of them (otherwise you would not search for it)."]
                @Translate["I find it fantastic that they are that open and I wish that everyone could be so open-minded."]
                @Translate["I had learnt some Yiddish words from Brent Spiner and now also the first Yiddish words from Kerry Shale."]
                @Translate["I did not know about the shtetl (Yiddish, from German: Städtle, English: small town) until Kerry Shale had mentioned it."]
                @Translate["When googling about it, I found out that all shtetl were destroyed by German Nazis between 1939 and 1945."]
                @Translate["Well, it would surprise me if we Germans would have done something good in that context."]
                @Translate["Kerry Shale said that his father saw himself as a very fiercely Canadian."]
                @Translate["I can imagine that well, you only need to look at the Jewish History in Europe between 1800 and 1945, then you will know why."]
                @Translate["I found this video interesting about such shtetl he had mentioned:"]
                <RadzenLink Path="@Translate["Shtetl-YouTube-Link"]" Target="_blank" Text="@Translate["What Life in the Shtetl Was Like"]" /> <RadzenIcon Icon="open_in_new" Style="font-size: small;" />.
                @Translate["It is also interesting that Kerry Shale and Brent Spiner have something in common when it is about the immigration to North America, see:"] 
                <RadzenLink Path="https://www.imdb.com/name/nm0000653/bio" Target="_blank" Text="@Translate["Brent Spiner Biography"]" /> <RadzenIcon Icon="open_in_new" Style="font-size: small;" />.
            </RadzenText>
            @if (_currentCulture.Equals("en", StringComparison.InvariantCultureIgnoreCase)) 
            {
                <RadzenText TextStyle="TextStyle.Body2" class="rz-mt-0 rz-my-0">
                    @Translate["[Some remark on Hogan's Heroes: In Germany, the Nazi greeting is forbidden and was replaced by 'Heil Kräuter!' (which means 'Healing Herbs!') which makes the series much funnier for the German audience IMHO.]"]
                </RadzenText>
            }
            <RadzenText TextStyle="TextStyle.Body2" class="rz-mt-4 rz-my-0">
                @Translate["A small excursion (you will learn that history at the Jewish Museum in Berlin as well):"]
                @Translate["The discrimination against the Jewish people has a very long history, it started already when Moses saw G-d the first time, since the Ten Commandments."]
                @Translate["In the Middle Ages, the Jewish people had to wear a yellow ring which already reminds the yellow star they had to wear in Nazi Germany."]
                @Translate["Jewish people were made responsible for the Black Death."]
                @Translate["Jewish people were only allowed to do specific jobs for many centuries."]
                @Translate["Jewish people were not even allowed to enter specific cities or were put in so-called ghettos later."]
                @Translate["Then there were also pogroms where Jewish people got killed."]
                @Translate["Around 1800, the discrimination against the Jewish people became that bad that many of the Jewish people even converted to the Christian religion and even changed their whole identity."]
                @Translate["A very famous example is Heinrich Heine (German poet)."]
                @Translate["But it did not help, the discrimination against the Jewish people increased, they were not allowed to use the same locations like e.g. all other Germans did."]
                @Translate["It became that bad with time that many Jewish people started to leave Europe, they immigrated to North America in the main."]
                @Translate["The discrimination against the Jewish people found its sad height in the Holocaust, the genocide of the European Jewish people."]
                @Translate["You wonder why there are so many Jewish people in financial business and film business?"]
                @Translate["That is the result of the discrimination against the Jewish people, because they were not allowed to have another job for centuries."]
                @Translate["And blaming them for working in those two businesses now is -to be honest- the biggest bullshit ever!"]
                @Translate["Right, some are very successful in that business, and we should be happy about it."]
                @Translate["Everyone is free to work in the financial business or film business."]
                @Translate["There is no need to be jealous."]
                @Translate["I think that more than 3000 years of the persecution should be enough, it needs to stop now."]
                @Translate["The Holocaust left very deep scars which are still visible today."]
                @Translate["The Holocaust cannot be undone, and there is no excuse for it, and we must do everything that such a history does not repeat."]
                @Translate["By the way, it takes an enormous effort to create one Holy Torah, every Holy Torah is handcrafted."]
                @Translate["When Nazis had destroyed the Synagogues, the Torahs inside those Synagogues were desecrated."]
                @Translate["Each of those Torahs was buried in an own grave."]
                @Translate["Even today, every Torah which has completed its service is buried in an own grave."]
                @Translate["This video had a big impact on me:"]
                <RadzenLink Path="https://www.youtube.com/watch?v=LFZg1cZxlJ8" Target="_blank" Text="@Translate["Children in the Warsaw Ghetto"]" /> <RadzenIcon Icon="open_in_new" Style="font-size: small;" />.
                @Translate["Here is another video from"]
                <RadzenLink Path="https://www.youtube.com/watch?v=2EuYnvRJ6sE" Target="_blank" Text="Robert Clary" /> <RadzenIcon Icon="open_in_new" Style="font-size: small;" />.
            </RadzenText>
            <RadzenText TextStyle="TextStyle.Body2" class="rz-mt-4 rz-my-0">
                @Translate["So, please, if you deal with me..."]
                @Translate["Please know that I do get a real bad skin rush if I see any anti-Jewish (aka antisemitic) comments somewhere."]
                @Translate["And if you do not want to be stoned by me, please stay away from me with anti-Jewish comments or jokes, hate speech, racism and homophobia."]
                @Translate["If a Jewish person is doing jokes about Jewish things, it will be another thing - Jewish people are the only ones who are allowed to do that."]
            </RadzenText>
            <RadzenStack Orientation="Orientation.Vertical" JustifyContent="JustifyContent.Normal" AlignItems="AlignItems.Center" Gap="1rem" class="rz-my-4">
                <RadzenImage Path="@Translate["/img/heinrich-heine-quote.png"]" Style="width: 540px; max-width: 100%;" />
                <RadzenImage Path="@Translate["/img/edmund-burke-quote.jpg" ]" Style="width: 540px; max-width: 100%;" />
            </RadzenStack>
            <RadzenText TextStyle="TextStyle.Body2" class="rz-mt-4 rz-my-0">
                @Translate["Disclaimer: This website is a non-profit project, it means that no profit will ever be made with this website, an exception may be external websites linked from this website."]
                @Translate["The website does not collect any personal information about the visitor of this website."]
                @Translate["Only third-party tools like Google's reCAPTCHA may collect information about the visitor, see Google links in the reCAPTCHA in the Contact form."]
                @Translate["This website is part of jweschenfelder.de (German)."]
                @Translate["The website jweschenfelder.de is hosted in another way than this website and may collect data about the visitor in opposite to this fan page."]
            </RadzenText>
            <RadzenText TextStyle="TextStyle.Body2" class="rz-mt-4 rz-my-0">
                @Translate["On this website, I provide a more in-depth overview regarding to Kerry Shale's private life because it occurs to me that it does get too little credit elsewhere."]
                @Translate["In opposite to that, his work is described in every detail on other websites."]
            </RadzenText>
        </RadzenColumn>
    </RadzenStack>
</RadzenCard>
