@using System
@using System.Globalization
@using KerryShaleFanPage.Client.Objects
@page "/"

<PageTitle>@Translate["Welcome"] | Kerry Shale Fan Page</PageTitle>

<h1>@Translate["Welcome"].</h1>

<p>&nbsp;</p>

<p>
    @if (_newsItems != null && _newsItems.Any())
    {
        <div class="marquee">
            <ul class="marquee-content">
                @foreach (var newsItem in _newsItems)
                {
                    <li>@((MarkupString)(((_currentCulture.Equals("de", StringComparison.InvariantCultureIgnoreCase)) ? newsItem?.NewsHtmlDe : newsItem?.NewsHtmlEn) ?? string.Empty))</li>
                }
                @*
                @if (_latestPodcastEpisode != null && _latestPodcastEpisode.CalculatedExpectedNextDate.Date != DateTime.UtcNow.Date)
                {
                    <li>
                        @($"{Translate["Next podcast episode expected on"]} {@_latestPodcastEpisode.CalculatedExpectedNextDate.ToShortDateString()}.")
                        @Translate["There is no official announcement for it, therefore without any guarantee!"]
                    </li>
                }
                else
                {
                    <li>
                        @Translate["New podcast episode expected today!"]
                        @Translate["There is no official announcement for it, therefore without any guarantee!"]
                    </li>
                }
                *@
                <li>@Translate["There is no information available when the next podcast episode will be published, the podcast is temporarily on hiatus."]</li>
            </ul>
            <!-- Mirrors the content above -->
            <ul class="marquee-content" aria-hidden="true">
                @foreach (var newsItem in _newsItems)
                {
                    <li>@((MarkupString)(((_currentCulture.Equals("de", StringComparison.InvariantCultureIgnoreCase)) ? newsItem?.NewsHtmlDe : newsItem?.NewsHtmlEn) ?? string.Empty))</li>
                }
                @*
                @if (_latestPodcastEpisode != null && _latestPodcastEpisode.CalculatedExpectedNextDate.Date != DateTime.UtcNow.Date)
                {
                    <li>
                        @($"{Translate["Next podcast episode expected on"]} {@_latestPodcastEpisode.CalculatedExpectedNextDate.ToShortDateString()}.")
                        @Translate["There is no official announcement for it, therefore without any guarantee!"]
                    </li>
                }
                else
                {
                    <li>
                        @Translate["New podcast episode expected today!"]
                        @Translate["There is no official announcement for it, therefore without any guarantee!"]
                    </li>
                }
                *@
                <li>@Translate["There is no information available whether and when the next podcast episode will be published."]</li>
            </ul>
        </div>
    }
</p>

<p>&nbsp;</p>

<div class="row h-100">
    <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-6 col-xx-6 rz-col-xx-6 d-flex justify-content-center my-4">
        <div class="flip-card">
            <div class=@($"flip-card-inner {_cssClass[0]}") @onclick="(() => FlipCardAsync(0))">
                <div class="flip-card-front">
                    <div class="row gx-0 justify-content-left">
                        <div class="col-7 col-xs-6 col-sm-6 col-md-6 col-lg-5 col-xl-5 col-xx-5 rz-col-xx-5 text-center">
                            <img src="/img/the-sandman.png" alt="The Sandman" />
                        </div>
                        <div class="col-5 col-xs-6 col-sm-6 col-md-6 col-lg-7 col-xl-7 col-xx-7 rz-col-xx-7 text-center vertical-align">
                            <div class="d-none d-lg-block">@Translate["Watch The Sandman on"]<br />@Translate["Netflix or visit the"]<br />@Translate["The Sandman Wiki"]<br /></div>
                            <div>@Translate["CLICK ME!"]</div>
                        </div>
                    </div>
                </div>
                <div class="flip-card-back">
                    <div class="row gx-0 justify-content-center">
                        <div class="col-12 text-center vertical-align">
                            <br />@Translate["Please select:"]<br /><br />
                        </div>
                    </div>
                    <div class="row gx-0 justify-content-center">
                        <div class="col-6 text-center vertical-align">
                            <a href="https://www.netflix.com/de/title/81150303" target="blank"><img src="/img/The_Sandman_Netflix_1.jpg" alt="The Sandman at Netflix" /></a>&nbsp;
                        </div>
                        <div class="col-6 text-center vertical-align">
                            <a href="https://sandman.fandom.com/wiki/Kerry_Shale" target="blank"><img src="/img/The_Sandman_Netflix_2.jpg" alt="The Sandman Wiki" /></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-6 col-xx-6 rz-col-xx-6 d-flex justify-content-center my-4">
        <div class="flip-card">
            <div class=@($"flip-card-inner {_cssClass[1]}") @onclick="(() => FlipCardAsync(1))">
                <div class="flip-card-front">
                    <div class="row gx-0 justify-content-center">
                        <div class="col-7 col-xs-6 col-sm-6 col-md-6 col-lg-5 col-xl-5 col-xx-5 rz-col-xx-5 text-center">
                            @if (_showLatestPodcastEpisode)
                            {
                                <img src="@_latestPodcastEpisodeImageBase64" alt="Latest podcast episode" />
                            }
                            else
                            {
                                <img src="@_currentTileMainContent.First.ImagePath" alt="@_currentTileMainContent.First.Name" />
                            }
                        </div>
                        <div class="col-5 col-xs-6 col-sm-6 col-md-6 col-lg-7 col-xl-7 col-xx-7 rz-col-xx-7 text-center vertical-align">
                            <div class="d-none d-lg-block">
                                @if (_showLatestPodcastEpisode)
                                {
                                    @Translate["Hear the latest podcast episode"]<br />
                                    @*@($"({Translate["Next episode available"]}")<br />@($"{@Translate["on"]} {@_latestPodcastEpisode?.CalculatedExpectedNextDate.ToShortDateString()}.)")<br />*@
                                }
                                else
                                {
                                    @Translate[@_currentTileMainContent.First.Url ?? string.Empty]<br />
                                }
                            </div>
                            <div>@Translate["CLICK ME!"]</div>
                        </div>
                    </div>
                </div>
                <div class="flip-card-back">
                    <div class="row gx-0 justify-content-center">
                        <div class="col-12 text-center vertical-align">
                            <br />@Translate["Please select:"]<br /><br />
                        </div>
                    </div>
                    <div class="row gx-0 justify-content-center">
                        @if (_showLatestPodcastEpisode)
                        {
                            <div class="col-6 text-center vertical-align">
                                <a href="https://podcasts.apple.com/gb/podcast/is-it-rolling-bob-talking-dylan/id1437321669" target="blank"><img src="/img/listen-on-apple-podcasts-1.png" alt="Bob Dylan podcast at Apple" /></a>&nbsp;
                            </div>
                            <div class="col-6 text-center vertical-align">
                                <a href="https://shows.acast.com/63d0e60777d9ee0011a4f45b" target="blank"><img src="/img/listen-on-acast.png" alt="Bob Dylan podcast at Acast" /></a>
                            </div>
                        }
                        else
                        {
                            <div class="col-6 text-center vertical-align">
                                <a href="@_currentTileSubContent.First.Url" target="blank"><img src="@_currentTileSubContent.First.ImagePath" alt="@_currentTileSubContent.First.Name" /></a>&nbsp;
                            </div>
                            <div class="col-6 text-center vertical-align">
                                <a href="@_currentTileSubContent.Second.Url" target="blank"><img src="@_currentTileSubContent.Second.ImagePath" alt="@_currentTileSubContent.Second.Name" /></a>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-6 col-xx-6 rz-col-xx-6 d-flex justify-content-center my-4">
        <div class="flip-card">
            <div class=@($"flip-card-inner {_cssClass[2]}") @onclick="(() => FlipCardAsync(2))">
                <div class="flip-card-front">
                    <div class="row gx-0 justify-content-center">
                        <div class="col-7 col-xs-6 col-sm-6 col-md-6 col-lg-5 col-xl-5 col-xx-5 rz-col-xx-5 text-center">
                            <img src="/img/KS-1.png" alt="Official Website" />
                        </div>
                        <div class="col-5 col-xs-6 col-sm-6 col-md-6 col-lg-7 col-xl-7 col-xx-7 rz-col-xx-7 text-center vertical-align">
                            <div class="d-none d-lg-block">@Translate["Official website of Kerry Shale"]<br />@Translate["and his IMDb page"]<br /></div>
                            <div>@Translate["CLICK ME!"]</div>
                        </div>
                    </div>
                </div>
                <div class="flip-card-back">
                    <div class="row gx-0 justify-content-center">
                        <div class="col-12 text-center vertical-align">
                            <br />@Translate["Please select:"]<br /><br />
                        </div>
                    </div>
                    <div class="row gx-0 justify-content-center">
                        <div class="col-6 text-center vertical-align">
                            <a href="https://www.kerryshale.com" target="blank"><img src="/img/KS-2.png" alt="Official Website" /></a>
                        </div>
                        <div class="col-6 text-center vertical-align">
                            <a href="https://www.imdb.com/name/nm0787715" target="blank"><img src="/img/imdb.png" alt="IMDb" /></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-6 col-xx-6 rz-col-xx-6 d-flex justify-content-center my-4">
        <div class="flip-card">
            <div class=@($"flip-card-inner {_cssClass[3]}") @onclick="(() => FlipCardAsync(3))">
                <div class="flip-card-front">
                    <div class="row gx-0 justify-content-center">
                        <div class="col-7 col-xs-6 col-sm-6 col-md-6 col-lg-5 col-xl-5 col-xx-5 rz-col-xx-5 text-center">
                            <img src="/img/reel.png" alt="Reel" />
                        </div>
                        <div class="col-5 col-xs-6 col-sm-6 col-md-6 col-lg-7 col-xl-7 col-xx-7 rz-col-xx-7 text-center vertical-align">
                            <div class="d-none d-lg-block">@Translate["Websites of his agencies"]<br /></div>
                            <div>@Translate["CLICK ME!"]</div>
                        </div>
                    </div>
                </div>
                <div class="flip-card-back">
                    <div class="row gx-0 justify-content-center ">
                        <div class="col-12 text-center vertical-align">
                            <br />@Translate["Please select:"]<br /><br />
                        </div>
                    </div>
                    <div class="row gx-0 justify-content-center">
                        <div class="col-6 text-center vertical-align">
                            <a href="https://www.sainou.com/individual/kerry-shale" target="blank"><img src="/img/sainou.png" alt="Agency Website" /></a>
                        </div>
                        <div class="col-6 text-center vertical-align">
                            <a href="https://www.yaketyyak.co.uk/artists/kerry-shale" target="blank"><img src="/img/yaketyyak.png" alt="Yakety Yak" /></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <p>&nbsp;</p>

    <p>
        <div class="row col-12 text-center" style="white-space: nowrap;">
            <RadzenLabel Text="@($"{_localTime} >> {_shaleTime}")" class="fw-bold" Style="width: 100%; white-space: nowrap;" />
        </div>
    </p>
</div>
