@page "/kerryshale"

<PageTitle>Kerry Shale | Kerry Shale Fan Page</PageTitle>

<h1>Kerry Shale.</h1>

<RadzenCard class="rz-my-5 rz-mx-auto" Style="background: rgba(255, 255, 255, 0.5);">
    <RadzenRow JustifyContent="JustifyContent.Start" AlignItems="AlignItems.Normal" Gap="1rem" class="rz-p-4">
        <RadzenColumn Size="12" SizeXS="6" SizeSM="12" SizeMD="6" SizeLG="6" SizeXL="7" SizeXX="8">
            <RadzenText TextStyle="TextStyle.Body2">@Translate["Kerry Shale is a Canadian actor, voice over genius and writer, based in London (United Kingdom) since July 1978 [1]."]</RadzenText>
            <RadzenText TextStyle="TextStyle.Overline" class="rz-display-flex rz-mt-4 rz-my-0">@Translate["Quoting Kerry Shale and his official website:"]</RadzenText>
            <RadzenText TextStyle="TextStyle.Body2">
                @Translate["''''A voice so smooth he could sell prophylactics to the Pope'' - The Guardian''"]
            </RadzenText>
            <RadzenText TextStyle="TextStyle.Body2">
                @Translate["''Hugely versatile, with an extraordinary range of accents and styles.''"]
            </RadzenText>
            <RadzenText TextStyle="TextStyle.Body2">
                @Translate["''Kerry Shale has worked at The National Theatre, The Almeida, Hampstead, The Donmar Warehouse, Riverside Studios, The Gate and The Royal Court."]
                @Translate["In Edinburgh, he wrote and performed six solo shows at The Traverse, The Assembly Rooms and The Pleasance."]
                @Translate["West End work includes The Normal Heart and Frost/Nixon.''"]
            </RadzenText>
            <RadzenText TextStyle="TextStyle.Body2">
                @Translate["''The Evening Standard calls Kerry Shale 'The best-known American voice on Radio 4'."]
                @Translate["He has played more characters in a single video game than any other actor (it is in the Guinness Book of Records).''"]
            </RadzenText>
            <RadzenText TextStyle="TextStyle.Overline" class="rz-display-flex rz-mt-4 rz-my-0">@Translate["Awards:"]</RadzenText>
            <RadzenText TextStyle="TextStyle.Body2">
                - Sony Radio Awards: Best Radio Actor
            </RadzenText>
            <RadzenText TextStyle="TextStyle.Body2">
                - Sony Radio Awards: Best Radio Dramatisation
            </RadzenText>
            <RadzenText TextStyle="TextStyle.Body2">
                - TMA/British Regional Theatre Awards Nomination: Best Actor
            </RadzenText>
            <RadzenText TextStyle="TextStyle.Body2">
                - Writers' Guild Awards: Best Radio Dramatisation
            </RadzenText>
            <RadzenText TextStyle="TextStyle.Body2">
                - UK and USA Audio Book Awards: Performer of the Year
            </RadzenText>
            <RadzenText TextStyle="TextStyle.Body2">
                - Audible Sounds of Crime Awards: Reader of the Year
            </RadzenText>
            <RadzenText TextStyle="TextStyle.Body2">
                - Perrier Awards: Pick of the Fringe (Edinburgh)
            </RadzenText>
            <RadzenText TextStyle="TextStyle.Body2">
                - London Fringe Awards: Best One Person Show
            </RadzenText>
            <RadzenText TextStyle="TextStyle.Overline" class="rz-display-flex rz-mt-4 rz-my-0">@Translate["Birthdate:"]</RadzenText>
            <RadzenText TextStyle="TextStyle.Body2">@Translate["June 4 [2]"] @Translate["(the year of birth is hidden due to data protection reasons [7])"]</RadzenText>
            <RadzenText TextStyle="TextStyle.Overline" class="rz-display-flex rz-mt-4 rz-my-0">@Translate["Birthplace:"]</RadzenText>
            <RadzenText TextStyle="TextStyle.Body2">@Translate["Winnipeg, Manitoba, Canada [4]"]</RadzenText>
            <RadzenText TextStyle="TextStyle.Overline" class="rz-display-flex rz-mt-4 rz-my-0">@Translate["Location:"]</RadzenText>
            <RadzenText TextStyle="TextStyle.Body2">@Translate["Greater London, England, United Kingdom [6]"]</RadzenText>
            <RadzenText TextStyle="TextStyle.Overline" class="rz-display-flex rz-mt-4 rz-mb-0">@Translate["Eye color:"]</RadzenText>
            <RadzenText TextStyle="TextStyle.Body2">@Translate["Brown"]</RadzenText>
            <RadzenText TextStyle="TextStyle.Overline" class="rz-display-flex rz-mt-4 rz-mb-0">@Translate["Hair color:"]</RadzenText>
            <RadzenText TextStyle="TextStyle.Body2">@Translate["Black -> gray"]</RadzenText>
            <RadzenText TextStyle="TextStyle.Overline" class="rz-display-flex rz-mt-4 rz-mb-0">@Translate["Height:"]</RadzenText>
            <RadzenText TextStyle="TextStyle.Body2">@Translate["5 feet 4 inches (163 cm) [6]"]</RadzenText>
            <RadzenText TextStyle="TextStyle.Overline" class="rz-display-flex rz-mt-4 rz-mb-0">@Translate["Weight:"]</RadzenText>
            <RadzenText TextStyle="TextStyle.Body2">@Translate["10 st 1 lbs (64 kg) [6]"]</RadzenText>
            <RadzenText TextStyle="TextStyle.Overline" class="rz-display-flex rz-mt-4 rz-mb-0">@Translate["Memberships:"]</RadzenText>
            <RadzenText TextStyle="TextStyle.Body2">@Translate["Equity, ACTRA [6]"]</RadzenText>
            <RadzenText TextStyle="TextStyle.Overline" class="rz-display-flex rz-mt-4 rz-mb-0">@Translate["Private life:"]</RadzenText>
            <RadzenText TextStyle="TextStyle.Body2">
                @Translate["Kerry Shale is married to Suzanne Shale since 1996 [3]."]
                @Translate["Regarding to Kerry Shale, his mother was from a shtetl* in Poland, and his father was from Winnipeg in Manitoba where Kerry Shale was born."]
                @Translate["His father's family immigrated from Russia, but his father saw himself as a very fiercely Canadian [4]."]
                @Translate["Kerry Shale does not mention it, but it would mean that his parent's families were forced to immigrate to North America during the century of immigration (1820-1948) caused by several events like discrimination, World War I, World War II and the Holocaust in Europe [5]."]
                @Translate["Kerry Shale describes his father as a jokester, it had a great impact on him."]
                @Translate["He had had a carefree childhood in Winnipeg, Manitoba [4]."]
                @Translate["He tells about himself that he is a Bob Dylan 'authority', he is also a big fan of Bob Dylan."]
            </RadzenText>
            <RadzenText TextStyle="TextStyle.Body2">@Translate["[*shtetl -> german: Städtle -> small town]"]</RadzenText>
            <RadzenText TextStyle="TextStyle.Overline" class="rz-display-flex rz-mt-4 rz-mb-0">@Translate["Current projects (direct and indirect):"]</RadzenText>
            <RadzenText TextStyle="TextStyle.Caption" class="rz-display-flex rz-mt-2 rz-mb-0">
                -&nbsp;<RadzenLink Path="https://sandman.fandom.com/wiki/The_Sandman_(audio)" Target="_blank" Text="@Translate["The Sandman at Audible"]" /> <RadzenIcon Icon="open_in_new" Style="font-size: small;" />
            </RadzenText>
            <RadzenText TextStyle="TextStyle.Caption" class="rz-display-flex rz-mt-2 rz-mb-0">
                -&nbsp;<RadzenLink Path="https://theamazingworldofgumball.fandom.com/wiki/Kerry_Shale" Target="_blank" Text="@Translate["The Amazing World of Gumball"]" /> <RadzenIcon Icon="open_in_new" Style="font-size: small;" />
            </RadzenText>
            <RadzenText TextStyle="TextStyle.Caption" class="rz-display-flex rz-mt-2 rz-mb-0">
                -&nbsp;<RadzenLink Path="https://store.steampowered.com/app/2362090/Chicken_Police_Into_the_HIVE" Target="_blank" Text="@Translate["Chicken Police: Into the HIVE (2024)"]" /> <RadzenIcon Icon="open_in_new" Style="font-size: small;" />
            </RadzenText>
            <RadzenText TextStyle="TextStyle.Caption" class="rz-display-flex rz-mt-2 rz-mb-0">
                -&nbsp;<RadzenLink Path="https://www.broadcastnow.co.uk/indies/rare-tv-heads-back-to-alaska/5178153.article" Target="_blank" Text="@Translate["Rare TV: Life On The Edge"]" /> <RadzenIcon Icon="open_in_new" Style="font-size: small;" />
            </RadzenText>
            <RadzenText TextStyle="TextStyle.Overline" class="rz-display-flex rz-mt-4 rz-mb-0">@Translate["Links"]:</RadzenText>
            <RadzenText TextStyle="TextStyle.Caption" class="rz-display-flex rz-mt-2 rz-mb-0">
                -&nbsp;<RadzenLink Path="https://www.kerryshale.com/" Target="_blank" Text="@Translate["Official website"]" /> <RadzenIcon Icon="open_in_new" Style="font-size: small;" />
            </RadzenText>
            <RadzenText TextStyle="TextStyle.Caption" class="rz-display-flex rz-mt-2 rz-mb-0">
                -&nbsp;<RadzenLink Path="https://www.spotlight.com/6855-8944-7831" Target="_blank" Text="@Translate["Official Kerry Shale Spotlight profile"]" /> <RadzenIcon Icon="open_in_new" Style="font-size: small;" />
            </RadzenText>
            <RadzenText TextStyle="TextStyle.Caption" class="rz-display-flex rz-mt-2 rz-mb-0">
                -&nbsp;<RadzenLink Path="https://www.youtube.com/user/kezza52" Target="_blank" Text="@Translate["Official YouTube channel"]" /> <RadzenIcon Icon="open_in_new" Style="font-size: small;" />
            </RadzenText>
            <RadzenText TextStyle="TextStyle.Caption" class="rz-display-flex rz-mt-2 rz-mb-0">
                -&nbsp;<RadzenLink Path="https://www.sainou.com/individual/kerry-shale/" Target="_blank" Text="@Translate["His agency's website (Sainou)"]" /> <RadzenIcon Icon="open_in_new" Style="font-size: small;" />
            </RadzenText>
            <RadzenText TextStyle="TextStyle.Caption" class="rz-display-flex rz-mt-2 rz-mb-0">
                -&nbsp;<RadzenLink Path="https://www.yaketyyak.co.uk/artists/kerry-shale" Target="_blank" Text="@Translate["Voice Reels from his agency Yakety Yak"]" /> <RadzenIcon Icon="open_in_new" Style="font-size: small;" />
            </RadzenText>
            <RadzenText TextStyle="TextStyle.Caption" class="rz-display-flex rz-mt-2 rz-mb-0">
                -&nbsp;<RadzenLink Path="https://en.wikipedia.org/wiki/Kerry_Shale" Target="_blank" Text="@Translate["Kerry Shale on Wikipedia"]" /> <RadzenIcon Icon="open_in_new" Style="font-size: small;" />
            </RadzenText>
            <RadzenText TextStyle="TextStyle.Overline" class="rz-display-flex rz-mt-4 rz-mb-0">@Translate["Sources for Wikipedia (I gave up on editing Wikipedia):"]</RadzenText>
            <RadzenText TextStyle="TextStyle.Caption" class="rz-display-flex rz-mt-2 rz-mb-0">
                <RadzenLink Path="https://www.sainou.com/individual/kerry-shale/" Target="_blank" Text="@Translate["[1] Sainou (his agency's website)"]" /> <RadzenIcon Icon="open_in_new" Style="font-size: small;" />
            </RadzenText>
            <RadzenText TextStyle="TextStyle.Caption" class="rz-display-flex rz-mt-2 rz-mb-0">
                <RadzenLink Path="https://twitter.com/AgentPaulSainou/status/474232301174681601" Target="_blank" Text="@Translate["[2] Birthday tweet by his agent"]" /> <RadzenIcon Icon="open_in_new" Style="font-size: small;" />
            </RadzenText>
            <RadzenText TextStyle="TextStyle.Caption" class="rz-display-flex rz-mt-2 rz-mb-0">
                <RadzenLink Path="https://www.youtube.com/watch?v=i_Y40wJEwoE" Target="_blank" Text="@Translate["[3] Kerry Shale Interview (he is married)"]" /> <RadzenIcon Icon="open_in_new" Style="font-size: small;" />
            </RadzenText>
            <RadzenText TextStyle="TextStyle.Caption" class="rz-display-flex rz-mt-2 rz-mb-0">
                <RadzenLink Path="https://podtail.com/fi/podcast/jew-talkin-to-me/jew-talkin-to-me-with-kerry-shale-and-rachel-mars/" Target="_blank" Text="@Translate["[4] Kerry Shale Interview (he was born)"]" /> <RadzenIcon Icon="open_in_new" Style="font-size: small;" />
            </RadzenText>
            <RadzenText TextStyle="TextStyle.Caption" class="rz-display-flex rz-mt-2 rz-mb-0">
                <RadzenLink Path="https://www.jewishvirtuallibrary.org/a-century-of-immigration-1820-1924-judaic-treasures" Target="_blank" Text="@Translate["[5] A Century Of Immigration"]" /> <RadzenIcon Icon="open_in_new" Style="font-size: small;" />
            </RadzenText>
            <RadzenText TextStyle="TextStyle.Caption" class="rz-display-flex rz-mt-2 rz-mb-0">
                <RadzenLink Path="https://www.spotlight.com/6855-8944-7831" Target="_blank" Text="@Translate["[6] Official Kerry Shale Spotlight profile"]" /> <RadzenIcon Icon="open_in_new" Style="font-size: small;" />
            </RadzenText>
            <RadzenText TextStyle="TextStyle.Caption" class="rz-display-flex rz-mt-1 rz-mb-0">
                <RadzenText TextStyle="TextStyle.Body2">@Translate["[7] The real Kerry Shale had requested IMDb to remove the year of birth on 2023/08/07, please do not try to re-add it"]</RadzenText>
            </RadzenText>
        </RadzenColumn>
        <RadzenColumn Size="12" SizeXS="6" SizeSM="12" SizeMD="6" SizeLG="6" SizeXL="5" SizeXX="4" class="rz-p-2">
            <RadzenImage Path="/img/kerryshale.png" Style="width: 400px; height: auto; max-width: 100%; border-radius: 50%; border: 2px solid black;" />
        </RadzenColumn>
    </RadzenRow>
</RadzenCard>
