@page "/kerryshale"

<PageTitle>Kerry Shale | Kerry Shale Fan Page</PageTitle>

<h1>Kerry Shale.</h1>

<RadzenCard class="rz-my-5 rz-mx-auto" Style="background: rgba(255, 255, 255, 0.5);">
    <RadzenRow JustifyContent="JustifyContent.Start" AlignItems="AlignItems.Normal" Gap="1rem" class="rz-p-4">
        <RadzenColumn Size="12" SizeXS="6" SizeSM="12" SizeMD="6" SizeLG="6" SizeXL="7" SizeXX="8">
            <RadzenText TextStyle="TextStyle.Body2">@Translate["Kerry Shale is a Canadian actor, voice over genius and writer, based in London (United Kingdom) since 1978 [1]."]</RadzenText>
            <RadzenText TextStyle="TextStyle.Overline" class="rz-display-flex rz-mt-4 rz-my-0">@Translate["Birthdate:"]</RadzenText>
            <RadzenText TextStyle="TextStyle.Body2">@Translate["June 4, 1952 [2]"]</RadzenText>
            <RadzenText TextStyle="TextStyle.Overline" class="rz-display-flex rz-mt-4 rz-my-0">@Translate["Birthplace:"]</RadzenText>
            <RadzenText TextStyle="TextStyle.Body2">@Translate["Winnipeg, Manitoba, Canada [4]"]</RadzenText>
            <RadzenText TextStyle="TextStyle.Overline" class="rz-display-flex rz-mt-4 rz-mb-0">@Translate["Private life:"]</RadzenText>
            <RadzenText TextStyle="TextStyle.Body2">
                @Translate["Kerry Shale is married to Suzanne Shale since 1996 [3]."]
                @Translate["Regarding to Kerry Shale, his mother was from a shtetl* in Poland, and his father was from Winnipeg in Manitoba where Kerry Shale was born."]
                @Translate["His father's family immigrated from Russia, but his father saw himself as a very fiercely Canadian [4]."]
                @Translate["Kerry Shale does not mention it, but it would mean that his parent's families were forced to immigrate to North America during the century of immigration (1820-1948) caused by several events like discrimination, World War I, World War II and the Holocaust in Europe [5]."]
                @Translate["Kerry Shale describes his father as a jokester, it had a great impact on him."]
                @Translate["He had had a carefree childhood in Winnipeg, Manitoba [4]."]
            </RadzenText>
            <RadzenText TextStyle="TextStyle.Body2">@Translate["[*shtetl -> german: Städtle -> small town]"]</RadzenText>
            <RadzenText TextStyle="TextStyle.Overline" class="rz-display-flex rz-mt-4 rz-mb-0">@Translate["Current projects (direct and indirect):"]</RadzenText>
            <RadzenText TextStyle="TextStyle.Caption" class="rz-display-flex rz-mt-2 rz-mb-0">
                -&nbsp;<RadzenLink Path="https://www.netflix.com/de/title/81150303" Target="_blank" Text="@Translate["The Sandman at Netflix"]" /> <RadzenIcon Icon="open_in_new" Style="font-size: small;" />
            </RadzenText>
            <RadzenText TextStyle="TextStyle.Caption" class="rz-display-flex rz-mt-2 rz-mb-0">
                -&nbsp;<RadzenLink Path="https://nintendoeverything.com/the-testament-of-sherlock-holmes-gets-surprise-release-on-switch/" Target="_blank" Text="@Translate["The Testament Of Sherlock Holmes"]" /> <RadzenIcon Icon="open_in_new" Style="font-size: small;" />
            </RadzenText>
            <RadzenText TextStyle="TextStyle.Overline" class="rz-display-flex rz-mt-4 rz-mb-0">@Translate["Links"]:</RadzenText>
            <RadzenText TextStyle="TextStyle.Caption" class="rz-display-flex rz-mt-2 rz-mb-0">
                -&nbsp;<RadzenLink Path="https://www.kerryshale.com/" Target="_blank" Text="@Translate["Official website"]" /> <RadzenIcon Icon="open_in_new" Style="font-size: small;" />
            </RadzenText>
            <RadzenText TextStyle="TextStyle.Caption" class="rz-display-flex rz-mt-2 rz-mb-0">
                -&nbsp;<RadzenLink Path="https://www.youtube.com/user/kezza52" Target="_blank" Text="@Translate["Official YouTube channel"]" /> <RadzenIcon Icon="open_in_new" Style="font-size: small;" />
            </RadzenText>
            <RadzenText TextStyle="TextStyle.Caption" class="rz-display-flex rz-mt-2 rz-mb-0">
                -&nbsp;<RadzenLink Path="https://www.sainou.com/individual/kerry-shale/" Target="_blank" Text="@Translate["His agency's website (Sainou)"]" /> <RadzenIcon Icon="open_in_new" Style="font-size: small;" />
            </RadzenText>
            <RadzenText TextStyle="TextStyle.Caption" class="rz-display-flex rz-mt-2 rz-mb-0">
                -&nbsp;<RadzenLink Path="https://www.yaketyyak.co.uk/artists/kerry-shale" Target="_blank" Text="@Translate["Voice Reels from his agency Yakety Yak"]" /> <RadzenIcon Icon="open_in_new" Style="font-size: small;" />
            </RadzenText>
            <RadzenText TextStyle="TextStyle.Overline" class="rz-display-flex rz-mt-4 rz-mb-0">@Translate["Sources for Wikipedia (I gave up on editing Wikipedia):"]</RadzenText>
            <RadzenText TextStyle="TextStyle.Caption" class="rz-display-flex rz-mt-2 rz-mb-0">
                <RadzenLink Path="https://www.sainou.com/individual/kerry-shale/" Target="_blank" Text="@Translate["[1] Sainou (his agency's website)"]" /> <RadzenIcon Icon="open_in_new" Style="font-size: small;" />
            </RadzenText>
            <RadzenText TextStyle="TextStyle.Caption" class="rz-display-flex rz-mt-2 rz-mb-0">
                <RadzenLink Path="https://www.sainou.com/individual/kerry-shale/" Target="_blank" Text="@Translate["[2] Birthday tweet by his agent"]" /> <RadzenIcon Icon="open_in_new" Style="font-size: small;" />
            </RadzenText>
            <RadzenText TextStyle="TextStyle.Caption" class="rz-display-flex rz-mt-2 rz-mb-0">
                @Translate["and"]&nbsp;<RadzenLink Path="https://www.sainou.com/individual/kerry-shale/" Target="_blank" Text="@Translate["Official YouTube Kanal (@kezza52)"]" /> <RadzenIcon Icon="open_in_new" Style="font-size: small;" />
            </RadzenText>
            <RadzenText TextStyle="TextStyle.Caption" class="rz-display-flex rz-mt-2 rz-mb-0">
                <RadzenLink Path="https://www.sainou.com/individual/kerry-shale/" Target="_blank" Text="@Translate["[3] Kerry Shale Interview (he is married)"]" /> <RadzenIcon Icon="open_in_new" Style="font-size: small;" />
            </RadzenText>
            <RadzenText TextStyle="TextStyle.Caption" class="rz-display-flex rz-mt-2 rz-mb-0">
                <RadzenLink Path="https://www.sainou.com/individual/kerry-shale/" Target="_blank" Text="@Translate["[4] Kerry Shale Interview (he was born)"]" /> <RadzenIcon Icon="open_in_new" Style="font-size: small;" />
            </RadzenText>
            <RadzenText TextStyle="TextStyle.Caption" class="rz-display-flex rz-mt-2 rz-mb-0">
                <RadzenLink Path="https://www.sainou.com/individual/kerry-shale/" Target="_blank" Text="@Translate["[5] A Century Of Immigration"]" /> <RadzenIcon Icon="open_in_new" Style="font-size: small;" />
            </RadzenText>
        </RadzenColumn>
        <RadzenColumn Size="12" SizeXS="6" SizeSM="12" SizeMD="6" SizeLG="6" SizeXL="5" SizeXX="4" class="rz-p-2">
            <RadzenImage Path="/img/kerryshale.png" Style="width: 400px; height: auto; max-width: 100%; border-radius: 50%; border: 2px solid black;" />
        </RadzenColumn>
    </RadzenRow>
</RadzenCard>
