@page "/links"

<PageTitle>Links | Kerry Shale Fan Page</PageTitle>

<h1>Links.</h1>

<RadzenCard class="rz-my-5 rz-mx-auto" Style="background: rgba(255, 255, 255, 0.5);">
    <RadzenRow JustifyContent="JustifyContent.Start" AlignItems="AlignItems.Normal" Gap="1rem" class="rz-p-4">
        <RadzenColumn Size="12">
            <RadzenText TextStyle="TextStyle.Overline" class="rz-display-flex rz-mt-0 rz-mb-0">@Translate["Current projects (direct and indirect):"]</RadzenText>
            <RadzenText TextStyle="TextStyle.Caption" class="rz-display-flex rz-mt-2 rz-mb-0">
                -&nbsp;<RadzenLink Path="https://sandman.fandom.com/wiki/The_Sandman_(audio)" Target="_blank" Text="@Translate["The Sandman at Audible"]" /> <RadzenIcon Icon="open_in_new" Style="font-size: small;" />
            </RadzenText>
            <RadzenText TextStyle="TextStyle.Caption" class="rz-display-flex rz-mt-2 rz-mb-0">
                -&nbsp;<RadzenLink Path="https://theamazingworldofgumball.fandom.com/wiki/Kerry_Shale" Target="_blank" Text="@Translate["The Amazing World of Gumball"]" /> <RadzenIcon Icon="open_in_new" Style="font-size: small;" />
            </RadzenText>
            <RadzenText TextStyle="TextStyle.Caption" class="rz-display-flex rz-mt-2 rz-mb-0">
                -&nbsp;<RadzenLink Path="https://store.steampowered.com/app/2362090/Chicken_Police_Into_the_HIVE" Target="_blank" Text="@Translate["Chicken Police: Into the HIVE (2024)"]" /> <RadzenIcon Icon="open_in_new" Style="font-size: small;" />
            </RadzenText>
            <RadzenText TextStyle="TextStyle.Caption" class="rz-display-flex rz-mt-2 rz-mb-0">
                -&nbsp;<RadzenLink Path="https://www.broadcastnow.co.uk/indies/rare-tv-heads-back-to-alaska/5178153.article" Target="_blank" Text="@Translate["Rare TV: Life On The Edge"]" /> <RadzenIcon Icon="open_in_new" Style="font-size: small;" />
            </RadzenText>
            <RadzenText TextStyle="TextStyle.Overline" class="rz-display-flex rz-mt-4 rz-mb-0">@Translate["Links"]:</RadzenText>
            <RadzenText TextStyle="TextStyle.Caption" class="rz-display-flex rz-mt-2 rz-mb-0">
                -&nbsp;<RadzenLink Path="https://www.kerryshale.com/" Target="_blank" Text="@Translate["Official website"]" /> <RadzenIcon Icon="open_in_new" Style="font-size: small;" />
            </RadzenText>
            <RadzenText TextStyle="TextStyle.Caption" class="rz-display-flex rz-mt-2 rz-mb-0">
                -&nbsp;<RadzenLink Path="https://www.spotlight.com/6855-8944-7831" Target="_blank" Text="@Translate["Official Kerry Shale Spotlight profile"]" /> <RadzenIcon Icon="open_in_new" Style="font-size: small;" />
            </RadzenText>
            <RadzenText TextStyle="TextStyle.Caption" class="rz-display-flex rz-mt-2 rz-mb-0">
                -&nbsp;<RadzenLink Path="https://www.youtube.com/user/kezza52" Target="_blank" Text="@Translate["Official YouTube channel"]" /> <RadzenIcon Icon="open_in_new" Style="font-size: small;" />
            </RadzenText>
            <RadzenText TextStyle="TextStyle.Caption" class="rz-display-flex rz-mt-2 rz-mb-0">
                -&nbsp;<RadzenLink Path="https://www.sainou.com/individual/kerry-shale/" Target="_blank" Text="@Translate["His agency's website (Sainou)"]" /> <RadzenIcon Icon="open_in_new" Style="font-size: small;" />
            </RadzenText>
            <RadzenText TextStyle="TextStyle.Caption" class="rz-display-flex rz-mt-2 rz-mb-0">
                -&nbsp;<RadzenLink Path="https://www.yaketyyak.co.uk/artists/kerry-shale" Target="_blank" Text="@Translate["Voice Reels from his agency Yakety Yak"]" /> <RadzenIcon Icon="open_in_new" Style="font-size: small;" />
            </RadzenText>
            <RadzenText TextStyle="TextStyle.Caption" class="rz-display-flex rz-mt-2 rz-mb-0">
                -&nbsp;<RadzenLink Path="https://en.wikipedia.org/wiki/Kerry_Shale" Target="_blank" Text="@Translate["Kerry Shale on Wikipedia"]" /> <RadzenIcon Icon="open_in_new" Style="font-size: small;" />
            </RadzenText>
            <RadzenText TextStyle="TextStyle.Caption" class="rz-display-flex rz-mt-2 rz-mb-0">
                -&nbsp;<RadzenLink Path="https://www.imdb.com/name/nm0787715/" Target="_blank" Text="@Translate["Video Reel at IMDb"]" /> <RadzenIcon Icon="open_in_new" Style="font-size: small;" />
            </RadzenText>
            <RadzenText TextStyle="TextStyle.Caption" class="rz-display-flex rz-mt-2 rz-mb-0">
                -&nbsp;<RadzenLink Path="https://sandman.fandom.com/wiki/Kerry_Shale" Target="_blank" Text="@Translate["The Sandman Wiki"]" /> <RadzenIcon Icon="open_in_new" Style="font-size: small;" />
            </RadzenText>
            <RadzenText TextStyle="TextStyle.Caption" class="rz-display-flex rz-mt-2 rz-mb-0">
                -&nbsp;<RadzenLink Path="https://www.discogs.com/artist/471521-Kerry-Shale" Target="_blank" Text="@Translate["Discogs"]" /> <RadzenIcon Icon="open_in_new" Style="font-size: small;" />
            </RadzenText>
            <RadzenText TextStyle="TextStyle.Caption" class="rz-display-flex rz-mt-2 rz-mb-0">
                -&nbsp;<RadzenLink Path="https://www.mobygames.com/person/26155/kerry-shale/" Target="_blank" Text="@Translate["Moby Games"]" /> <RadzenIcon Icon="open_in_new" Style="font-size: small;" />
            </RadzenText>
            <RadzenText TextStyle="TextStyle.Caption" class="rz-display-flex rz-mt-2 rz-mb-0">
                -&nbsp;<RadzenLink Path="https://24.fandom.com/wiki/Kerry_Shale" Target="_blank" Text="@Translate["Wiki24"]" /> <RadzenIcon Icon="open_in_new" Style="font-size: small;" />
            </RadzenText>
            <RadzenText TextStyle="TextStyle.Overline" class="rz-display-flex rz-mt-4 rz-mb-0">@Translate["Overview fan pages and fan groups directly connected to this page:"]</RadzenText>
            <RadzenText TextStyle="TextStyle.Caption" class="rz-display-flex rz-mt-2 rz-mb-0">
                -&nbsp;<RadzenLink Path="https://www.facebook.com/kerryshalefanpg" Target="_blank" Text="@Translate["Facebook Fan Page aka Fansite"]" /> <RadzenIcon Icon="open_in_new" Style="font-size: small;" />
            </RadzenText>
            @*<RadzenText TextStyle="TextStyle.Caption" class="rz-display-flex rz-mt-2 rz-mb-0">
                -&nbsp;<RadzenLink Path="https://www.facebook.com/groups/kerryshalefangrp" Target="_blank" Text="@Translate["Facebook Fan Group"]" /> <RadzenIcon Icon="open_in_new" Style="font-size: small;" />
            </RadzenText>
            <RadzenText TextStyle="TextStyle.Caption" class="rz-display-flex rz-mt-2 rz-mb-0">
                -&nbsp;<RadzenLink Path="https://www.instagram.com/kerryshalefanpg/" Target="_blank" Text="@Translate["Instagram Fan Page"]" /> <RadzenIcon Icon="open_in_new" Style="font-size: small;" />
            </RadzenText>
            <RadzenText TextStyle="TextStyle.Caption" class="rz-display-flex rz-mt-2 rz-mb-0">
                -&nbsp;<RadzenLink Path="@("https://universeodon.com/@kerryshalefanpage")" Target="_blank" Text="@Translate["Mastodon Fan Page"]" /> <RadzenIcon Icon="open_in_new" Style="font-size: small;" />
            </RadzenText>*@
            <RadzenText TextStyle="TextStyle.Caption" class="rz-display-flex rz-mt-2 rz-mb-0">
                -&nbsp;<RadzenLink Path="@("https://www.youtube.com/@kerryshalefanpage")" Target="_blank" Text="@Translate["YouTube channel (restored)"]" /> <RadzenIcon Icon="open_in_new" Style="font-size: small;" />
            </RadzenText>
            <RadzenText TextStyle="TextStyle.Caption" class="rz-display-flex rz-mt-2 rz-mb-0">
                -&nbsp;<RadzenLink Path="https://bsky.app/profile/kerryshalefanpage.bsky.social" Target="_blank" Text="@Translate["Bluesky (NEW!)"]" /> <RadzenIcon Icon="open_in_new" Style="font-size: small;" />
            </RadzenText>
            <RadzenText TextStyle="TextStyle.Caption" class="rz-display-flex rz-mt-2 rz-mb-0">
                -&nbsp;<RadzenLink Path="https://twitter.com/kerryshalefanpg" Target="_blank" Text="@Translate["Twitter Fan Page"]" /> <RadzenIcon Icon="open_in_new" Style="font-size: small;" />
            </RadzenText>
        </RadzenColumn>
    </RadzenRow>
</RadzenCard>


