@page "/rules"

<PageTitle>@Translate["Rules"] | Kerry Shale Fan Page</PageTitle>

<h1>@Translate["Rules"].</h1>

<RadzenCard class="rz-my-5 rz-mx-auto" Style="background: rgba(255, 255, 255, 0.5);">
    <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Start" class="rz-p-4 rz-mb-4">
        <RadzenColumn Size="12">
            <RadzenText TextStyle="TextStyle.Body2" class="rz-mt-0 rz-my-0"><strong>@Translate["Those rules are not set up by myself."]</strong></RadzenText>
            <RadzenText TextStyle="TextStyle.Body2" class="rz-mt-4 rz-my-0"><strong>
                @Translate["There are some online profiles related to Kerry Shale which you may discover with time."]
                @Translate["Some of them are even mentioned on his official website."]
                @Translate["Before you have only the slight idea to follow them, you should know the following rules beforehand before you become a highly disappointed fan later."]
                @Translate["And nobody has the intention to disappoint any fans."]
                @Translate["At the bottom of this page you can read how you can contact Kerry Shale in the official way."]
            </strong></RadzenText>
        </RadzenColumn>
    </RadzenStack>
    <RadzenCard class="rz-background-color-danger-lighter rz-shadow-0 rz-border-radius-0 rz-p-4">
        <RadzenText TextStyle="TextStyle.Body2"><strong>@Translate["RED FLAGS (chances getting blocked are about 100%):"]</strong></RadzenText>
        <RadzenText TextStyle="TextStyle.Overline" class="rz-display-flex rz-mt-4 rz-my-0">@Translate["Kerry Shale's private job search profile:"]</RadzenText>
        <RadzenText TextStyle="TextStyle.Body2">
            @Translate["Yes, he has an online profile which he uses for his work."]
            @Translate["It is strongly suggested NOT to follow/comment/message that profile as a Kerry Shale fan."]
            @Translate["He can press the block button very fast."]
            @Translate["The name of the profile suggests it already: That profile was created in a very sensitive context."]
            @Translate["You will not be able to talk about that in public anyway."]
            @Translate["The reason you get blocked away there should be very clear."]
            (@Translate["Kerry Shale had a Twitter profile from 2013 to 2018, but gave it up."]
            @Translate["I think he simply did not find the time to care for it anymore because he is very busy."])
        </RadzenText>
        <RadzenText TextStyle="TextStyle.Overline" class="rz-display-flex rz-mt-4 rz-my-0">@Translate["@isitrollingpod on Twitter:"]</RadzenText>
        <RadzenText TextStyle="TextStyle.Body2">
            @Translate["The podcast ''Is It Rolling, Bob? Talking Dylan'' on Twitter (@isitrollingpod): Please be aware that this is not a Kerry Shale fan page."]
            @Translate["It is operated/run by another co-host of that podcast."]
            @Translate["He is also an actor and he has invested a lot of time and energy in the podcast."]
            @Translate["If you have the urgent need to follow the podcast on Twitter, it will be the best if you disguise as a Bob Dylan fan, no joke."]
            @Translate["If it is obvious that you are a Kerry Shale fan, you will be blocked."]
            @Translate["Better follow that podcast on Apple, Spotify, Audible, etc instead."]
            @*@Translate["This fan page will currently not advertise the Twitter profile @isitrollingpod because it has no intention to lure Kerry Shale fans in block tirades/rants and to see unlucky Kerry Shale fans afterwards."]*@
        </RadzenText>
    </RadzenCard>
    <RadzenCard class="rz-background-color-warning-lighter rz-shadow-0 rz-border-radius-0 rz-p-4">
        <RadzenText TextStyle="TextStyle.Body2"><strong>@Translate["YELLOW FLAGS (chances getting blocked are about 50%):"]</strong></RadzenText>
        <RadzenText TextStyle="TextStyle.Overline" class="rz-display-flex rz-mt-4 rz-my-0">@Translate["His wife's profile:"]</RadzenText>
        <RadzenText TextStyle="TextStyle.Body2">
            @Translate["Kerry Shale is married."]
            @Translate["And yes, his wife has also an online profile which she uses for her work."]
            @Translate["She has zero interest to be in contact with a Kerry Shale fan there either."]
            @Translate["It is strongly suggested NOT to follow/comment/message that profile as a Kerry Shale fan."]
            @Translate["She may block you."]
            @*@Translate["The reason you get blocked away there should be very clear, but she appears more stable/adult than @isitrollingpod (see above), she can handle it far better."]*@
            @Translate["The reason you get blocked away there should be very clear."]
        </RadzenText>
        <RadzenText TextStyle="TextStyle.Overline" class="rz-display-flex rz-mt-4 rz-my-0">@Translate["Yakety Yak:"]</RadzenText>
        <RadzenText TextStyle="TextStyle.Body2">
            @Translate["Yakety Yak is Kerry Shale's official voiceover agency."]
            @Translate["You can follow their online profiles, like and retweet them, they will simply ignore you in most cases."]
            @Translate["Responses or likes are very rare."]
        </RadzenText>
    </RadzenCard>
    <RadzenCard class="rz-background-color-success-lighter rz-shadow-0 rz-border-radius-0 rz-p-4">
        <RadzenText TextStyle="TextStyle.Body2"><strong>@Translate["GREEN FLAGS (chances getting blocked are less than 5%):"]</strong></RadzenText>
        <RadzenText TextStyle="TextStyle.Overline" class="rz-display-flex rz-mt-4 rz-my-0">@Translate["Kerry Shale's YouTube channel:"]</RadzenText>
        <RadzenText TextStyle="TextStyle.Body2">
            @Translate["He has very strict content moderation activated on YouTube."]
            @Translate["If you leave a comment there, there may be a small chance that your comment disappears only seconds after you have written the comment."]
            @Translate["You can try it a second time, but this should be the very last try."]
            @Translate["More tries may be considered as spam."]
            @Translate["And you know, spammers may get blocked."]
            @Translate["Kerry Shale has left an 'Easter Egg' there, an empty comment, if you have have found it:"]
            @Translate["Enjoy!"]
        </RadzenText>
        <RadzenText TextStyle="TextStyle.Overline" class="rz-display-flex rz-mt-4 rz-my-0">@Translate["Sainou:"]</RadzenText>
        <RadzenText TextStyle="TextStyle.Body2">
            @Translate["Sainou is Kerry Shale's official acting agency."]
            @Translate["You can follow their online profiles, like and retweet them, they will simply ignore you in most cases."]
            @Translate["Responses or likes are equal zero."]
            @Translate["It is not known yet that they have ever blocked a Kerry Shale fan, I do not think they will block fans."]
            @Translate["They are very well aware of the Kerry Shale fans."]
        </RadzenText>
        <RadzenText TextStyle="TextStyle.Overline" class="rz-display-flex rz-mt-4 rz-my-0">@Translate["The production staff of The Sandman:"]</RadzenText>
        <RadzenText TextStyle="TextStyle.Body2">
            @Translate["You can follow their online profiles, like and retweet them, many of them are sociable/kind."]
            @Translate["It is not known yet that they have ever blocked a Kerry Shale fan, I do not think they will block fans."]
            @Translate["But comments/messages about Kerry Shale should be avoided, except the post/tweet is explicitly about Kerry Shale."]
            @Translate["They are very well aware of the Kerry Shale fans."]
        </RadzenText>
    </RadzenCard>
    <RadzenCard class="rz-background-color-base-200 rz-shadow-0 rz-border-radius-0 rz-p-4">
        <RadzenText TextStyle="TextStyle.Body2"><strong>@Translate["GREEN FLAGS (chances getting blocked are nearly 0%):"]</strong></RadzenText>
        <RadzenText TextStyle="TextStyle.Overline" class="rz-display-flex rz-mt-4 rz-my-0">@Translate["The Sandman (Netflix):"]</RadzenText>
        <RadzenText TextStyle="TextStyle.Body2">
            @Translate["You can follow their online profiles, like and retweet them, they will simply ignore you in most cases."]
            @Translate["Responses or likes are rare."]
            @Translate["It is not known yet that they have ever blocked a Kerry Shale fan, I do not think they will block fans."]
            @Translate["They are very well aware of the Kerry Shale fans."]
        </RadzenText>
        <RadzenText TextStyle="TextStyle.Overline" class="rz-display-flex rz-mt-4 rz-my-0">@Translate["Kerry Shale Fan Page:"]</RadzenText>
        <RadzenText TextStyle="TextStyle.Body2">
            @Translate["The Kerry Shale fan page is and was created for Kerry Shale and for his fans."]
            @Translate["Fan comments are usually no problem at all, you can spam the fan page all day."]
            @Translate["You can write everything you want as long as it is not hate-speech or trolling."]
            @Translate["Until 500 followers, the fan page will follow back every new follower, unless you are a racist/Nazi/internet troll/bot."]
            @Translate["Follow_follow_vs_unfollow_unfollow."]
            @Translate["The fan page will read comments/messages from fans and will respond to everyone in some way, either via comment or via like or via retweet."]
            @Translate["Please be aware that it is only a fan page operated by a fan, it is not the real Kerry Shale."]
        </RadzenText>
    </RadzenCard>
    <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.End" class="rz-p-4 rz-mt-4">
        <RadzenColumn Size="12">
            <RadzenText TextStyle="TextStyle.Body2">
                @Translate["If you got blocked, you should be strong enough to accept it, it is not Kerry Shale's or anyone's else fault, you were warned hereby."]
                @Translate["Do not -under no circumstances- try to work around it, unless you want to be on Kerry Shale's or someone else's enemies list."]
                @Translate["Actors usually have a very good memory (they need it for their daily job) and they will remember you."]
                @Translate["At some point they will list you as a psychopath, put you on their personal blacklist, and you should ask yourself if you really want that."]
            </RadzenText>
            <RadzenText TextStyle="TextStyle.Body2" class="rz-mt-4"><strong>@Translate["How to get in touch with Kerry Shale?"]</strong></RadzenText>
            <RadzenText TextStyle="TextStyle.Body2">
                @Translate["Although Kerry Shale seems to be tech-savvy (he has also someone who helps him on that matter), he prefers paper."]
                @Translate["The website"]
                <RadzenLink Path="http://www.fanmail.biz/50709.html" Target="_blank" Text="@Translate["FanBiz"]" /> <RadzenIcon Icon="open_in_new" Style="font-size: small;" />
                @Translate["tells you how you can get in contact with him in the best possible way."]
                @Translate["Before you send him a letter, please verify that Sainou's postal address mentioned at"]
                <RadzenLink Path="http://www.fanmail.biz/50709.html" Target="_blank" Text="@Translate["FanBiz"]" /> <RadzenIcon Icon="open_in_new" Style="font-size: small;" />
                @Translate["is the same as mentioned on Kerry Shale's"]
                <RadzenLink Path="https://www.kerryshale.com/" Target="_blank" Text="@Translate["official_website"]" /> <RadzenIcon Icon="open_in_new" Style="font-size: small;" />.
                @Translate["Please also follow the instructions there:"]
                "@Translate["If you just want to mail a letter with the address above, and do not want anything back, then you can stop reading!"]
                @Translate["If you live in UK send a properly stamped and self addressed envelope (minimum size 8.5'' x 4'') with your request letter and a photo."]
                @Translate["You can include a piece of cardboard to keep the photo from bending in shipping and also add ''Do Not Bend'' on the envelopes."]
                @Translate["Send your letter and wait."]
                @Translate["On average, there is going to be a 3+ month wait for a response."]
                @Translate["If you do not live in UK, you can purchase your British stamps"]
                <RadzenLink Path="https://www.amazon.co.uk/gp/product/B09S124QHS/?&_encoding=UTF8&tag=fanmail00-21&linkCode=ur2&linkId=9844ae93919cc27f80237552120e7d8b&camp=1634&creative=6738" Target="_blank" Text="@Translate["here"]" /> <RadzenIcon Icon="open_in_new" Style="font-size: small;" />.
                *@Translate["For information on postage prices to receive a letter from UK click"]
                <RadzenLink Path="https://www.royalmail.com/current-postage-prices" Target="_blank" Text="@Translate["here"]" /> <RadzenIcon Icon="open_in_new" Style="font-size: small;" />."
            </RadzenText>
        </RadzenColumn>
    </RadzenStack>
</RadzenCard>
